<h1>Welcome to Mars!</h1>
<h2 style="color: grey">A place we do <i>not</i> call home.</h2>
<p>There's Earth: the blue and green planet, filled with life.</p>
<p>And then there's Mars.</p>
<div style="height: 300px">
  <mat-card style="float: left">
    <mat-card-title>Mars</mat-card-title>
    <mat-card-subtitle>Quick Info</mat-card-subtitle>
    <mat-card-content>
      <ul>
        <li>Radius: 2,106 miles</li>
        <li>Distance from Sun: 142 million miles</li>
        <li>Orbit time: 687 days</li>
        <li>Liquid water: No</li>
        <li>Atmosphere: Very thin; no oxygen</li>
        <li>Magnetosphere: No</li>
        <li>Moons: 2 moons (Phobos and Deimos)</li>
      </ul>
      <p>Fun fact: Mars may have had life sometime in the past!</p>
    </mat-card-content>
  </mat-card>
  <div style="float: left; margin-left: 20px">
    <p>For starters, Mars is far from the Sun, so all of its water is frozen.</p>
    <p>This already kills hope for life on Mars.</p>
    <p>But let's say you brought water along with you. What could go wrong?</p>
    <p>Turns out, a lot could go wrong.</p>
    <p>The atmosphere is thin, and it doesn't even have oxygen, so you would suffocate.</p>
    <p>Mars doesn't have a magnetosphere, so radiation can easily reach the surface.</p>
    <p>And last, but not least, the temperature can go from boiling hot in the morning to freezing cold at
      night.</p>
  </div>
</div>
<h2 style="color: grey">Not a great place to stay</h2>
<p>And those are some of the reasons why Mars doesn't have life.</p>
<p>However, because there is frozen water on Mars, it indicates that Mars may have had life in the past.</p>
<p>Those days are long gone. Who knows, maybe Earth will be the next Mars some day.</p>
